# Prerequisites
*.d
*.aps
*.db
*.opendb
.vs/
.vs/**

bin/
bin/**

obj/
obj/**

ipch/
ipch/**

tools/bin
tools/bin/**
tools/console-controller/vs/___temp_compilation_files/**

install/
install/**

installer/references/chocolatey.0.10.15.nupkg-unpacked/
installer/references/chocolatey.0.10.15.nupkg-unpacked/**

src/controller/.ref_utils/
src/controller/.ref_utils/**

installer/references/
installer/references/**

modules/ref.todelete
modules/ref.todelete/**

build/.vs/
build/.vs/**

build/CompiledResources/
build/CompiledResources/**

build/obj/**
build/.nuget
build/*.log

build/scripts/*.log
build/scripts/log/**

*.users

srvctrl.sln.metaproj.tmp
*.tmp
*.metaproj.tmp
*.sln.metaproj.tmp

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.vcxproj.user

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a

# Executables
*.out
*.app

tmp*.bat
__*.bat

scripts\tmp*.bat
scripts\__*.bat